/*
 * Limit the width of the main content divs inside the table
 */
td.maincontent div.section div.section div.source{
	width: 520px;
} 

/*
 * newscontent is used by my tablelayout configuration
 */ 
td.newscontent {
	border: 1px solid #000;
	width: 20%;
	border-radius: 5px;
}

td.newscontent h2 {
	border-width: 0px;
	background-color: #f7f7f7;
	font-weight:900;
	font-size:large;
	padding: 0px;
} 
td.newscontent div.section div.section {
	border: 1px solid #000;
	margin-top: 6pt;
	padding: 2px;
	border-radius: 5px;
} 

td.newscontent h3 {
	margin: 5px 0px 5px 0px;
	border-width: 0px;
	background-color: #f7f7f7;
	font-weight:900;
	font-size:medium;
	padding: 0px;
} 
